<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/movie_home.png" alt="">
  </div>
  <div class="headings">
    <h2>Haunted Frames </h2>
    <h3>“Summon your mood. We’ll summon the movie.</h3>
    <a href="/madlibs" class="btn">Start the reel</a>
  </div>
</header>


<%- include('partials/footer'); -%>